
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    .logo{
       display: flex;
       align-items: center; 
       gap: 5px;
       a{
         color:#FFFFFF;
       font-weight: 600;
       font-size: 22.55px;
       line-height:100%;
       }
             &:hover{
             color: #2563EB;
             cursor: pointer;
               } 
    }
}