*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
     font-family: "DM Sans", sans-serif;
}
body{
    background: rgb(38, 38, 38);
    scroll-behavior: smooth
}

@import "header";
@import "section1";


